
<template #settings let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Настройки</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
	<form>
		<div class="form-group">
			<div class="form-control">
				<label for="radioBasic">Выбор шрифта</label><br />
				<div [(ngModel)]="o_font" id="radioBasic" ngbRadioGroup name="radioBasic">
					<label class="btn btn-primary">
						<input type="radio" value="Turaevo" (click)="putCookie('o_font', 'Turaevo')">Тураево 
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="Starousp" (click)="putCookie('o_font', 'Starousp')">Староуспенская
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="Ostr" (click)="putCookie('o_font', 'Ostr')">Острожская
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="Triod" (click)="putCookie('o_font', 'Triod')">Триодь
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="Pochaevsk" (click)="putCookie('o_font', 'Pochaevsk')">Почаевская
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="Grebnev" (click)="putCookie('o_font', 'Grebnev')">Гребнев
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-control">
				<label for="razmer">Размер шрифта</label><br />
				<div [(ngModel)]="o_size" id="razmer" ngbRadioGroup name="fontBasic">
					<label class="btn btn-primary">
						<input type="radio" value="1.4" (click)="putCookie('o_size', '1.4')">Маленький 
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="1.6" (click)="putCookie('o_size', '1.6')">Стандартный
					</label>
					<label class="btn btn-primary">
						<input type="radio" value="2.1" (click)="putCookie('o_size', '2.1')">Увеличенный
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-control">
				<label for="sample">Пример</label>
				<div [ngStyle]="{'font-family': o_font, 'font-size': o_size+'rem'}">гDи i©е хрcтE сн7е б9іи поми1луй нaсъ</div>
			</div>
		</div>
	</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
  </div>
</template>
<template #about let-c="close" let-d="dismiss" ngbModalContainer>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Помощь</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Закрыть</button>
  </div>
</template>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Алавастр</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item">
		<a class="nav-link" href="https://vk.com/public78092348" target="_blank">Сад Духовный</a>
	  </li>
	  <li class="nav-item">
		<button type="button" style="cursor: pointer;" class="btn-link link nav-link" href="#" (click)="open(settings)">Настройки</button>
	  </li>
	  <li class="nav-item">
		<button type="button" style="cursor: pointer;" class="btn-link link nav-link" href="#" (click)="open(about)">Помощь</button>
	  </li>
	</ul>
  </div>
</nav>


<div class="container withimage" style="padding-bottom: 50px;">
<div class="row justify-content-center" [ngStyle]="{'font-family': o_font, 'font-size': o_size+'rem'}">
	<div class="row col-lg-9 col-sm-12 justify-content-center">
		<div class="col">
			<p class="text-center"><img src="assets/img/header.png" /></p>
		</div>
	</div>
	<div class="row col-lg-9 col-sm-12" style="padding-bottom: 50px;">
		<div class="col"><button type="button" class="btn btn-outline-primary" style="cursor: pointer;" (click)="getBackDayText();//dp.navigateTo({year : newStyle.getFullYear(), month: newStyle.getMonth()+1})">
		<fa [name]="'chevron-left'" aria-hidden="true"></fa>Вчера</button></div>
		
		<div class="col text-right"><button type="button" class="btn btn-outline-primary" style="cursor: pointer;" (click)="getNextDayText();//dp.navigateTo({year : newStyle.getFullYear(), month: newStyle.getMonth()+1})">
		Завтра<fa [name]="'chevron-right'" aria-hidden="true"></fa></button></div>
		
		<div class="col text-center">
			<!--<h5 style="font-family: 'Arial'">date: {{date | json}}</h5>
			<h5 style="font-family: 'Arial'">dateP: {{datePicker | json}}</h5>-->
			<div class="row"><p class="h1 col text-center">{{dayNumberText}} {{monthText}}</p></div>
			<div class="row"><p class="h3 col text-center">{{weekDay}}</p></div>
			<div class="row"><p class="col text-center" style="font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;font-size: 1rem;">
				<ngb-datepicker #dp [dayTemplate]="customDay" [(ngModel)]="datePicker" (navigate)="date = $event.next" [markDisabled]="isDisabled" (click)="onDayChange()" (navigateTo)="{year: datePicker.year, month: datePicker.month}" [displayMonths]="3" (navigation)="select"></ngb-datepicker>
				
				<template #customDay let-date="date" let-disabled="disabled" let-currentMonth="currentMonth" let-selected="selected">
				  <span class="custom-day" 
				  [class.weekend]="isWeekend(date)" 
				  [class.text-muted]="disabled" 
				  [class.fastDay]="isFastDay(date)" 
				  [class.hidden]="date.month !== currentMonth" 
				  [class.prazdnikH]="isPrazdnik(date,0)" 
				  [class.prazdnikL]="isPrazdnik(date,1)" 
				  [class.bg-primary]="selected" 
				  [ngStyle]="{'font-family': o_font, 'font-size': '1.4rem'}">
					{{ getDayNumberText(date.day-1) }}
				  </span>
				</template>
				
			</p></div>
			<div class="row"><p class="h5 col text-center" style="font-family: Arial;">
				{{("0"+newStyle.getDate()).slice(-2)}}.{{("0"+(newStyle.getMonth()+1)).slice(-2)}}.{{newStyle.getFullYear()}}
			</p></div>
		</div>
	</div>
	<div class="row col-lg-9 col-sm-12">
		<!--<p class="h1 col">а7 мaрта </p> 
		<p class="h1 col text-right">{{weekDay}}</p>-->
	</div>
	<div class="row col-lg-9 col-sm-12">
		<div class="col">
			<p class="text-center" [innerHTML]="saints | safeHtml: 'html'"></p>
		</div>
	</div>
	<div class="row col-lg-9 col-sm-12">
		<div class="col">
			<p class="text-justify" [innerHTML]="tropar | safeHtml: 'html'"></p>
		</div>
	</div>
	<div class="row col-lg-9 col-sm-12">
		<div class="col">
			<div *ngIf="gospelday.zachalo != -1" class="text-center text-red">t <span [innerHTML]="gospelday.author | safeHtml: 'html'"></span> є3ђaліе, за? <span style="font-family:Arial;" [innerHTML]="gospelday.zachalo | safeHtml: 'html'"></span></div>
			
			<p class="text-justify" [innerHTML]="gospelday.text | safeHtml: 'html'"></p>
		</div>
	</div>
</div>
</div>

